.App {
  text-align: center;
  &:hover {
    background: lighten($color: red, $amount: 20%)
  }
}

body {
  background: lighten($color: green, $amount: 50%)
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  &:hover {
    background: lighten($color: blue, $amount: 20%)
  }
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
